
.stepBar {
    display: flex;
    max-width: 50vw;
    position: sticky;
    top: 0;
    margin: 20px auto;
    text-align: center;
}
.stepBar li {
    font-size: 1.5vw;
    list-style: none;
    position: relative;
    width: 50%;
}
.stepBar li:after {
    background: #D0E1F9;
    content: "";
    width: calc(102% - 36px);
    height: 4px;
    position: absolute;
    left: calc(-50% + 16px);
    top: 10px;
}
.stepBar li:first-child:after {
    display: none;
}

.stepBar li span {
    background: #D0E1F9;
    color: #ffffff;
    display: inline-block;
    height: 35px;
    margin-bottom: 5px;
    line-height: 35px;
    width: 35px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.stepBar li:hover>span {
    background: #0066ff;
}

.stepBar .visited:after {
    background: #4D648D;
}
.stepBar .visited span {
    background: #4D648D;
}

@media screen and (min-width:769px) and (max-width:1366px) {
    .stepBar {
        max-width: 70vw;
    }
    .stepBar li {
        font-size: 2vw;
    }
}

@media screen and (max-width:768px) {
    .stepBar {
        max-width: 80vw;
    }
    .stepBar li {
        font-size: 2.2vw;
    }
}

#leftbox {
    position: relative;
    top: 20px;
    float: right;
    width: 20vw;
    border-right: 3px solid #0099FF;
    z-index: 2;
}

#leftbox h2 {
    /*background: #0099FF;
    color: #FFFFFF;*/
    margin-right: 5px;
    border-left: 5px solid #000080;
}

#leftbox p {
    margin-left: 10px;
}

#leftbox #sightseeing_plan {
    width: 15vw;
}